extends ./layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros",class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim similique aliquid atque dolore sit consequuntur ea blanditiis consectetur fuga velit, debitis temporibus cupiditate reiciendis id nulla alias maiores vel exercitationem? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt veniam modi nemo saepe quos necessitatibus! Earum enim impedit neque, autem delectus quo ipsum voluptas quisquam distinctio. Vitae eligendi laboriosam cumque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consectetur, consequuntur minus sed perferendis facilis error neque, porro totam voluptas temporibus. Non est porro sint facere quos rerum? Ducimus, quo!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur neque debitis quaerat doloremque incidunt, commodi quod nihil nostrum modi earum architecto sed accusantium nam iste quia, ipsa iusto. Repudiandae, soluta.

    .listado-iconos
        .container.mt-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad",class="img-fluid mb-4")
                    h2.mb Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, delectus. Reprehenderit nihil delectus alias ut. Non impedit, ducimus distinctio dolorem reiciendis hic id beatae unde sequi est magni, voluptatum amet!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destinos",class="img-fluid mb-4")
                    h2.mb Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, delectus. Reprehenderit nihil delectus alias ut. Non impedit, ducimus distinctio dolorem reiciendis hic id beatae unde sequi est magni, voluptatum amet!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios",class="img-fluid mb-4")
                    h2.mb Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, delectus. Reprehenderit nihil delectus alias ut. Non impedit, ducimus distinctio dolorem reiciendis hic id beatae unde sequi est magni, voluptatum amet!